<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

<cart-drawer-items class="cart d-block h-100">
  <form action="{{ routes.cart_url }}" id="CartDrawer-Form" data-id="{{ section.id }}" method="post" class="d-flex flex-column h-100">
    <div id="CartDrawer-CartItems" class="js-contents">
      {%- for item in cart.items -%}
        <div id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart__item d-flex align-items-center{% unless forloop.last %} mb-2{% endunless %}">
          <div class="cart__item__media position-relative">
            {% if item.image %}
              <div class="position-relative border overflow-hidden" style="padding-bottom: {{ 1 | divided_by: item.image.aspect_ratio | times: 100 }}%">
                <img class="absolute-fill fit-cover w-100 h-100"
                     src="{{ item.image | image_url: width: 300 }}"
                     alt="{{ item.image.alt | escape }}"
                     loading="lazy"
                     width="150"
                     height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                  >
              </div>
            {% else %}
              <div class="position-relative overflow-hidden" style="padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%">
                {{ 'product-1' | placeholder_svg_tag: "absolute-fill w-100 h-100" }}
              </div>
            {% endif %}
            <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
              <a href="{{ item.url_to_remove }}" class="cart__item__remove flex-center btn--outline btn--outline--dark rounded-circle position-absolute lh-120 text-uppercase border overflow-hidden">
                <span class="cart__item__bubble d-block position-relative">
                  <span class="absolute-center">
                    <svg class="d-block" width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path transform="matrix(.71355 .7006 -.71355 .7006 0 .497803)" stroke="currentColor" stroke-linecap="round" d="M.5-.5h8.90969"/><path transform="matrix(.71355 -.7006 .71355 .7006 1 7.44067)" stroke="currentColor" stroke-linecap="round" d="M.5-.5h8.90969"/></svg>
                  </span>
                </span>
              </a>
            </cart-remove-button>
            <span class="cart__item__qty flex-center rounded-circle position-absolute text-dark lh-120 text-uppercase bg-light border">
              <span class="cart__item__bubble d-block position-relative">
                <span class="absolute-center">{{ item.quantity }}</span>
              </span>
            </span>
          </div>

          <div class="pl-1 w-100">
            <a href="{{ item.url }}" class="link text-0.875 lh-150">{{ item.product.title | escape }}</a>

            <div class="d-flex justify-content-between">
              <div>
                {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                  <dl class="mt-0.25 mb-0 text-0.875 lh-150 text-dark transparent-0.6">
                    {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                        <div>
                          <dd class="ml-0">{{ option.value }}{% unless forloop.last %}, {% endunless %}</dd>
                        </div>
                      {%- endfor -%}
                    {%- endif -%}

                    {%- for property in item.properties -%}
                      {%- assign property_first_char = property.first | slice: 0 -%}
                      {%- if property.last != blank and property_first_char != '_' -%}
                        <div>
                          <dt>{{ property.first }}: </dt>
                          <dd class="ml-0">
                            {%- if property.last contains '/uploads/' -%}
                              <a href="{{ property.last }}" class="link" target="_blank" aria-describedby="a11y-new-window-message">
                                {{ property.last | split: '/' | last }}
                              </a>
                            {%- else -%}
                              {{ property.last }}
                            {%- endif -%}
                          </dd>
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  </dl>

                  <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                {%- endif -%}
              </div>
              <div class="text-primary text-0.875 lh-150">
                {%- if item.original_line_price != item.final_line_price -%}
                  <div>
                    <span class="visually-hidden">
                      {{ 'products.product.price.regular_price' | t }}
                    </span>
                    <s>
                      {% if settings.currency_code_enabled %}
                        {{ item.original_line_price | money_with_currency }}
                      {% else %}
                        {{ item.original_line_price | money }}
                      {% endif %}
                    </s>
                    <span class="visually-hidden">
                      {{ 'products.product.price.sale_price' | t }}
                    </span>
                    <span>
                      {% if settings.currency_code_enabled %}
                        {{ item.final_line_price | money_with_currency }}
                      {% else %}
                        {{ item.final_line_price | money }}
                      {% endif %}
                    </span>
                  </div>
                {%- else -%}
                  <span>
                    {% if settings.currency_code_enabled %}
                      {{ item.original_line_price | money_with_currency }}
                    {% else %}
                      {{ item.original_line_price | money }}
                    {% endif %}
                  </span>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}

      <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
      <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
    </div>
    <div id="CartDrawer-CartErrors" class="mt-1" role="alert"></div>

    <div class="mt-auto">
      <div class="mt-1">
        <h6 class="mb-0.5 d-flex justify-content-between font-bold">
          Subtotal
          <span>
            {% if settings.currency_code_enabled %}
              {{ cart.total_price | money_with_currency }}
            {% else %}
              {{ cart.total_price | money }}
            {% endif %}
          </span>
        </h6>
        <p class="mt-0 mb-0 text-dark transparent-0.4 text-0.75 lh-150">Shipping and Taxes are caculated at checkout</p>
      </div>

      <button type="submit" id="checkout" name="checkout" class="btn btn--primary mt-1 w-100 text-1.125 font-bold lh-120 text-uppercase">
        Check Out
      </button>

      <div class="mt-0.5 d-flex align-items-center justify-content-between">
        <a href="{{ section.settings.footer_link_1_url }}" class="mr-1 link text-dark transparent-0.4 text-0.75 lh-150">{{ section.settings.footer_link_1_label }}</a>
        <a href="{{ section.settings.footer_link_2_url }}" class="link text-dark transparent-0.4 text-0.75 lh-150 text-right">{{ section.settings.footer_link_2_label }}</a>
      </div>
    </div>
  </form>
</cart-drawer-items>

