<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {% render 'css-variables' %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
  </head>

  <body class="transition-default" style="opacity: 0;">
    <a class="skip-to-content-link visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% section 'header' %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}

      <div class="container">
        <div>
          <button class="btn btn--primary text-uppercase">Load more</button>
          <button class="btn btn--outline text-uppercase">Load more</button>
          <button class="btn btn--outline text-uppercase" disabled>Sold out</button>
        </div>
        <div>
          <h1>h1 Heading</h1>
          <h2>h2 Heading</h2>
          <h3>h3 Heading</h3>
          <h4>h4 Heading</h4>
          <h5>h5 Heading</h5>
          <h6>h6 Heading</h6>
          <div class="rte">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eos est itaque, minima, necessitatibus nemo odit porro quas quisquam rem sequi temporibus tenetur ut vel voluptatem? Beatae nisi quo rem.</span><span>Adipisci consectetur ducimus facere fugiat libero modi molestiae perspiciatis porro recusandae sint suscipit temporibus, veritatis. Blanditiis consequuntur doloribus eaque magni nesciunt quasi repellat reprehenderit similique tempora, vel veritatis voluptate voluptatibus.</span><span>Culpa, mollitia tenetur. Animi cumque delectus dolor doloribus dolorum facilis fugit harum nostrum repellendus vitae. Architecto aspernatur commodi debitis dolore eius, illum inventore maxime natus porro quaerat quos repellendus sit?</span><span>Accusantium consequatur deserunt dolor, error eveniet ipsam, itaque labore minima natus nemo reprehenderit vel voluptates! Aperiam assumenda molestiae necessitatibus nihil nulla, odit pariatur possimus quidem, rem saepe temporibus totam voluptates.</span><span>Atque, consectetur deleniti dolore dolorem earum, eius eveniet facere fuga harum illo in iste molestiae necessitatibus nulla obcaecati odio perspiciatis quibusdam vel? Accusamus beatae laudantium nam natus totam vel vitae!</span><span>Alias fugit libero maiores, nemo temporibus vel? Animi asperiores consequuntur deserunt ea facere hic impedit laudantium magnam molestiae nemo nulla quo, quos rem similique vel. Asperiores magni natus unde veniam!</span><span>Aut blanditiis consequuntur earum facilis repudiandae! Aliquam architecto autem consequatur dignissimos eius eos, eveniet ex fugiat illo in magnam non odio pariatur porro provident sequi ut voluptas. Autem blanditiis, maxime.</span><span>Ab, accusamus architecto asperiores aspernatur at culpa cupiditate delectus dolore eius eveniet ex excepturi facere, harum illo in itaque natus neque nesciunt nobis nostrum odit quaerat quis quisquam veritatis voluptatem?</span><span>Aut blanditiis, consequuntur deleniti doloremque doloribus eaque enim est exercitationem fugiat hic incidunt maiores maxime nam quasi quis rem repellat rerum sed sit suscipit tempore totam vel voluptate voluptates, voluptatum!</span><span>Animi debitis deserunt enim est et mollitia, neque odit omnis quidem, quo reiciendis rerum sint totam! Animi eaque, fugiat impedit itaque molestiae, nemo, nulla numquam quis sed sit soluta ullam.</span></p>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eos est itaque, minima, necessitatibus nemo odit porro quas quisquam rem sequi temporibus tenetur ut vel voluptatem? Beatae nisi quo rem.</span><span>Adipisci consectetur ducimus facere fugiat libero modi molestiae perspiciatis porro recusandae sint suscipit temporibus, veritatis. Blanditiis consequuntur doloribus eaque magni nesciunt quasi repellat reprehenderit similique tempora, vel veritatis voluptate voluptatibus.</span><span>Culpa, mollitia tenetur. Animi cumque delectus dolor doloribus dolorum facilis fugit harum nostrum repellendus vitae. Architecto aspernatur commodi debitis dolore eius, illum inventore maxime natus porro quaerat quos repellendus sit?</span><span>Accusantium consequatur deserunt dolor, error eveniet ipsam, itaque labore minima natus nemo reprehenderit vel voluptates! Aperiam assumenda molestiae necessitatibus nihil nulla, odit pariatur possimus quidem, rem saepe temporibus totam voluptates.</span><span>Atque, consectetur deleniti dolore dolorem earum, eius eveniet facere fuga harum illo in iste molestiae necessitatibus nulla obcaecati odio perspiciatis quibusdam vel? Accusamus beatae laudantium nam natus totam vel vitae!</span><span>Alias fugit libero maiores, nemo temporibus vel? Animi asperiores consequuntur deserunt ea facere hic impedit laudantium magnam molestiae nemo nulla quo, quos rem similique vel. Asperiores magni natus unde veniam!</span><span>Aut blanditiis consequuntur earum facilis repudiandae! Aliquam architecto autem consequatur dignissimos eius eos, eveniet ex fugiat illo in magnam non odio pariatur porro provident sequi ut voluptas. Autem blanditiis, maxime.</span><span>Ab, accusamus architecto asperiores aspernatur at culpa cupiditate delectus dolore eius eveniet ex excepturi facere, harum illo in itaque natus neque nesciunt nobis nostrum odit quaerat quis quisquam veritatis voluptatem?</span><span>Aut blanditiis, consequuntur deleniti doloremque doloribus eaque enim est exercitationem fugiat hic incidunt maiores maxime nam quasi quis rem repellat rerum sed sit suscipit tempore totam vel voluptate voluptates, voluptatum!</span><span>Animi debitis deserunt enim est et mollitia, neque odit omnis quidem, quo reiciendis rerum sint totam! Animi eaque, fugiat impedit itaque molestiae, nemo, nulla numquam quis sed sit soluta ullam.</span></p>
          </div>
        </div>
      </div>
    </main>

    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      }
    </script>
  </body>
</html>
