{% liquid
  assign section_collection = section.settings.collection
  assign initail_count = 16
  assign is_variants = section.settings.is_variants
%}

<div class="featured-collection container" id="shop">
  <div class="card-product__wrapper row row--sm" id="{{ section.id }}-{{ section_collection.handle }}">
    {% if is_variants %}
      {% for single_product in section_collection.products limit: initail_count %}
        {% for variant in single_product.variants %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            {%- capture anim_delay -%}
              {%- cycle '300', '400', '500', '600' -%}
            {%- endcapture -%}
            {% render 'card-variant' card_variant: variant, anim_delay: anim_delay %}
          </div>
        {% endfor %}
      {% endfor %}
    {%  else %}
      {% for single_product in section_collection.products limit: initail_count %}
        <div class="col-12 col-md-6 col-lg-3">
          {%- capture anim_delay -%}
            {%- cycle '300', '400', '500', '600' -%}
          {%- endcapture -%}
          {% render 'card-product' card_product: single_product, anim_delay: anim_delay %}
        </div>
      {% endfor %}
    {% endif %}
  </div>

  {% if section_collection.products.size > initail_count %}
    <div class="text-center mt-5 mb-5 mt-md-7.5 mb-md-7.5">
      <load-more class="btn btn--outline text-uppercase position-relative" data-paginate="{{ section_collection.handle }}" data-paginate-collection-container="#{{ section.id }}-{{ section_collection.handle }}" tabindex="0">
        <span>Load more</span>
        <span class="absolute-center loading-overlay__spinner spinner"></span>
      </load-more>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }, {
      "type": "checkbox",
      "id": "is_variants",
      "label": "Display variants",
      "info": "Does not support secondary image on hover.",
      "default": false
    }, {
      "type": "checkbox",
      "id": "enable_dynamic_loading",
      "label": "Enable dynamic loading",
      "default": true,
      "info": "Works if collection contains more products then initial count. Button will load 8 more products, if available."
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}