<section
  id="MainProduct-{{ section.id }}"
  class="pt-1"
  data-section="{{ section.id }}"
>
  <div class="container">
    {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
    <div class="d-none d-md-block mb-2">
      {% render 'breadcrumbs' %}
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="position-relative">
          <div data-product-media>
            {% for media in product.media %}
              <div class="w-100">
                <div>
                  {%- case media.media_type -%}
                  {%- when 'model' -%}
                  {%- assign model_src = media.sources[0] -%}
                    <div class="position-relative border overflow-hidden" style="padding-bottom: {{ 1 | divided_by: first_3d_model.preview_image.aspect_ratio | times: 100 }}%">
                      <model-viewer class="absolute-fill w-100 h-100"
                                    alt="{{ media.alt }}"
                                    src="{{ model_src.url }}"
                                    loading="lazy"
                                    ar ar-modes="webxr scene-viewer quick-look"
                                    poster="{{ media.preview_image | img_url: 'master' }}"
                                    shadow-intensity="1"
                                    camera-controls
                                    touch-action="pan-y"></model-viewer>

                      <div class="product__media__badge position-absolute border rounded-circle">
                        <div class="position-relative" style="padding-bottom: 100%;">
                          <img
                            class="absolute-fill w-100 h-100 fit-contain"
                            src="{{ 'ar-icon.png' | asset_img_url: '120x' }}"
                            sizes="(min-width: 768px) 54px 1x 108px 2x, 30px 1x 60px 2x"
                            loading="lazy"
                            width="30"
                            height="30"
                            alt="AR Icon">
                        </div>
                      </div>
                    </div>
                  {%- when 'image' -%}
                    <div class="position-relative border overflow-hidden" style="padding-bottom: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%">
                      <img
                        class="absolute-fill fit-cover w-100 h-100"
                        srcset="{%- if media.width >= 165 -%}{{ media | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if media.width >= 360 -%}{{ media | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if media.width >= 533 -%}{{ media | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if media.width >= 720 -%}{{ media | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if media.width >= 940 -%}{{ media | image_url: width: 940 }} 940w,{%- endif -%}
                      {%- if media.width >= 1066 -%}{{ media | image_url: width: 1066 }} 1066w,{%- endif -%}
                      {{ media | image_url }} {{ media.width }}w"
                        sizes="(min-width: 768px) calc(50vw - 2rem), calc(100vw - 2rem)"
                        loading="lazy"
                        src="{{ media | img_url: '500x' }}"
                        width="{{ media.width }}"
                        height="{{ media.height }}"
                        alt="{{ media.alt }}">
                    </div>
                  {%- endcase -%}
                </div>
              </div>
            {% endfor %}
          </div>

          {% if product.media.size > 1 %}
            <div class="product__media__nav d-flex position-absolute">
              <button class="mr-1 btn--circle border-2 btn--outline btn--outline--dark"
                      data-product-media-nav="prev"
                      aria-controls="Previous slide">
                {% render 'icon' with 'arrow-left' %}
              </button>
              <button class="btn--circle border-2 btn--outline btn--outline--dark"
                      data-product-media-nav="next"
                      aria-controls="Next slide">
                {% render 'icon' with 'arrow-right' %}
              </button>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div
          id="ProductInfo-{{ section.id }}"
          class="product__info-container"
        >
          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'title' -%}
              <div class="mb-1 d-flex align-items-center text-1.125 font-bold text-dark" {{ block.shopify_attributes }}>
                <h1 class="mb-0 text-1.125 font-bold text-dark">{{ product.title | escape }}</h1>
                <span class="ml-0.5 mr-0.5"> - </span>
                <span data-price>
                  {% if product.available %}
                    {% if settings.currency_code_enabled %}
                      {{ product.selected_or_first_available_variant.price | money_with_currency }}
                    {% else %}
                      {{ product.selected_or_first_available_variant.price | money }}
                    {% endif %}
                  {% else %}
                    <span>Sold out</span>
                  {% endif %}
                </span>
              </div>
            {%- when 'description' -%}
              {%- if product.description != blank -%}
              <div class="md-1 rte text-dark transparent-0.6">
                {{ product.description }}
              </div>
              {%- endif -%}
            {%- when 'custom_liquid' -%}
              {{ block.settings.custom_liquid }}
            {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
              <variant-radios
                class="no-js-hidden"
                data-section="{{ section.id }}"
                data-url="{{ product.url }}"
                {{ block.shopify_attributes }}
              >
                {%- for option in product.options_with_values -%}
                  <fieldset class="js product-form__input">
                    <legend class="form__label">{{ option.name }}</legend>
                    {%- for value in option.values -%}
                      <input
                        type="radio"
                        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if option.selected_value == value %}
                          checked
                        {% endif %}
                      >
                      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                        {{ value }}
                      </label>
                    {%- endfor -%}
                  </fieldset>
                {%- endfor -%}
                <script type="application/json">
                      {{ product.variants | json }}
                    </script>
              </variant-radios>
              {%- else -%}
              <variant-selects
                class="no-js-hidden"
                data-section="{{ section.id }}"
                data-url="{{ product.url }}"
                {{ block.shopify_attributes }}
              >
                {%- for option in product.options_with_values -%}
                  <div class="product-form__input product-form__input--dropdown">
                    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <div class="select">
                      <select
                        id="Option-{{ section.id }}-{{ forloop.index0 }}"
                        class="select__select"
                        name="options[{{ option.name | escape }}]"
                        form="{{ product_form_id }}"
                      >
                        {%- for value in option.values -%}
                          <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}
                              selected="selected"
                            {% endif %}
                          >
                            {{ value }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                {%- endfor -%}

                <script type="application/json">
                      {{ product.variants | json }}
                    </script>
              </variant-selects>
              {%- endif -%}
            {%- endunless -%}

              <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                  <label class="form__label" for="Variants-{{ section.id }}">
                    {{- 'products.product.product_variants' | t -}}
                  </label>
                  <div class="select">
                    <select
                      name="id"
                      id="Variants-{{ section.id }}"
                      class="select__select"
                      form="{{ product_form_id }}"
                    >
                      {%- for variant in product.variants -%}
                        <option
                          {% if variant == product.selected_or_first_available_variant %}
                            selected="selected"
                          {% endif %}
                          {% if variant.available == false %}
                            disabled
                          {% endif %}
                          value="{{ variant.id }}"
                        >
                          {{ variant.title }}
                          {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                          - {{ variant.price | money | strip_html }}
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                </div>
              </noscript>
            {%- when 'buy_buttons' -%}
              <div {{ block.shopify_attributes }}>
                <product-form class="product-form">
                  <div class="product-form__error-message-wrapper" role="alert" hidden>
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      role="presentation"
                      class="icon icon-error"
                      viewBox="0 0 13 13"
                    >
                      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                    </svg>
                    <span class="product-form__error-message"></span>
                  </div>

                  {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ product.selected_or_first_available_variant.id }}"
                      disabled
                    >
                    <div class="product-form__buttons">
                      <button
                        type="submit"
                        name="add"
                        class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                        {% if product.selected_or_first_available_variant.available == false %}
                          disabled
                        {% endif %}
                      >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            role="presentation"
                            class="spinner"
                            viewBox="0 0 66 66"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </button>
                      {%- if block.settings.show_dynamic_checkout -%}
                        {{ form | payment_button }}
                      {%- endif -%}
                    </div>
                  {%- endform -%}
                </product-form>
              </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>

  {%- if first_3d_model -%}
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
  {%- endif -%}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'flickity.pkgd.min.js' | asset_url }}"></script>
  <script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>

  <script>
    new Flickity('[data-product-media]', {
      cellAlign: "left",
      contain: true,
      pageDots: false,
      prevNextButtons: false,
      adaptiveHeight: true,
      wrapAround: true,
      draggable: false,
      fade: true
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return (msie > 0 || trident > 0);
      }

      if (!isIE()) return;
      const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
  </script>

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      {% if seo_media -%}
        "image": [
          {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
        ],
      {%- endif %}
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
</section>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    }
  ],
  "settings": [
  ]
}
{% endschema %}
