<style>
  /* enable Flickity by default */
  [data-product-media]:after {
    content: 'flickity';
    display: none;
  }
  {%- if section.settings.media_desktop_view == 'list' -%}
    @media screen and (min-width: 768px) {
      /* disable Flickity for large devices */
      [data-product-media]:after {
        content: '';
      }
    }
  {%- endif -%}
</style>

<section
  id="MainProduct-{{ section.id }}"
  class="pt-1 pt-md-2"
  data-section="{{ section.id }}"
>
  <div class="container">
    {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
    <div class="mb-0.25 mb-md-1">
      {% render 'breadcrumbs' %}
    </div>
    <div class="row">
      <div class="col-12 col-md-6 product__media-wrapper{% if section.settings.media_desktop_size == 'larger' %} media-xl-larger{%- endif -%}">
        <div class="position-relative">
          <div {% if section.settings.media_desktop_view == 'list' %}class="product__media-list" {% endif %}data-product-media>
            {% for media in product.media %}
              <div class="w-100" data-product-media-slide="{{ forloop.index0 }}">
                <div>
                  {%- case media.media_type -%}
                  {%- when 'model' -%}
                  {%- assign model_src = media.sources[0] -%}
                    <div class="position-relative border overflow-hidden" style="padding-bottom: {{ 1 | divided_by: first_3d_model.preview_image.aspect_ratio | times: 100 }}%">
                      <model-viewer class="absolute-fill w-100 h-100"
                                    alt="{{ media.alt }}"
                                    src="{{ model_src.url }}"
                                    loading="lazy"
                                    ar
                                    ar-scale="fixed" 
                                    ar-modes="webxr scene-viewer quick-look"
                                    xr-environment
                                    poster="{{ media.preview_image | image_url }}"
                                    shadow-intensity="1"
                                    camera-controls
                                    touch-action="pan-y">
                      </model-viewer>
                    </div>
                  {%- when 'image' -%}
                    <div class="position-relative border overflow-hidden" style="padding-bottom: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%">
                      <img
                        class="absolute-fill fit-cover w-100 h-100 text-light"
                        srcset="{%- if media.width >= 165 -%}{{ media | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if media.width >= 360 -%}{{ media | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if media.width >= 533 -%}{{ media | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if media.width >= 720 -%}{{ media | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if media.width >= 940 -%}{{ media | image_url: width: 940 }} 940w,{%- endif -%}
                      {%- if media.width >= 1066 -%}{{ media | image_url: width: 1066 }} 1066w,{%- endif -%}
                      {{ media | image_url }} {{ media.width }}w"
                        sizes="(min-width: 768px) calc(50vw - 2rem), calc(100vw - 2rem)"
                        loading="lazy"
                        src="{{ media | image_url: width: 500 }}"
                        width="{{ media.width }}"
                        height="{{ media.height }}"
                        alt="{{ media.alt }}">
                    </div>
                  {%- endcase -%}
                </div>
              </div>
            {% endfor %}
          </div>

          {% if product.media.size > 1 %}
            <div class="product__media__nav d-flex position-absolute{% if section.settings.media_desktop_view == 'list' %} d-md-none{% endif %}">
              <button class="mr-0.75 mr-md-1 btn--circle border-2 btn--outline btn--outline--dark"
                      data-product-media-nav="prev"
                      aria-controls="Previous slide">
                {% render 'icon' with 'arrow-left' %}
              </button>
              <button class="btn--circle border-2 btn--outline btn--outline--dark" data-product-media-nav="next" aria-controls="Next slide">
                {% render 'icon' with 'arrow-right' %}
              </button>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-md-6 product__info-wrapper{% if section.settings.media_desktop_size == 'larger' %} media-xl-larger{%- endif -%}">
        <div
          id="ProductInfo-{{ section.id }}"
          class="d-flex flex-column justify-content-start product__info{% if section.settings.media_desktop_view == 'list' %} md-sticky{% else %} h-100{% endif %}{% if section.settings.media_desktop_size == 'larger' %} media-xl-larger{%- endif -%}"
        >
          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'title' -%}
              <div {{ block.shopify_attributes }}>
                <h1 class="product__title text-1.125 lh-120 text-primary">{{ product.title | escape }}</h1>
              </div>
            {%- when 'description' -%}
              {%- if product.description != blank -%}
              <div class="mb-2 rte"  {{ block.shopify_attributes }}>
                {{ product.description }}
              </div>
              {%- endif -%}
            {%- when 'custom_liquid' -%}
              {{ block.settings.custom_liquid }}
            {%- when 'accordion' -%}
               <div {% unless forloop.last %}class="mb-0.5" {% endunless %}{{ block.shopify_attributes }}>
                 <div class="accordion text-0.875 lh-150" data-accordion>
                   <button class="accordion__button link active-state d-flex align-items-center bg-transparent border-none pl-0 pr-0 text-0.875 active-state" id="button_{{ forloop.index }}" aria-expanded="false" aria-controls="content_{{ forloop.index }}"
                           data-accordion-toggle>
                     <span class="accordion__icon mr-0.5 position-relative">
                      <svg class="accordion__icon--plus transition-default absolute-center" width="9" height="9" viewBox="0 0 9 9" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.301.75a.75.75 0 1 0-1.5 0v3.142H.75a.75.75 0 0 0 0 1.5h3.051V8.25a.75.75 0 0 0 1.5 0V5.392H8.25a.75.75 0 1 0 0-1.5H5.301V.75Z" fill="rgb(var(--color-primary))"/></svg>
                      <svg class="accordion__icon--minus transition-default absolute-center" fill="none" width="9" viewBox="0 0 9 3"><path fill="rgb(var(--color-primary))" fill-rule="evenodd" d="M9 1.64185c0 .41421-.33579.75-.75.75H.75c-.414213 0-.75000004-.33579-.75-.75C4e-8 1.22763.335787.891846.75.891846h7.5c.41421 0 .75.335784.75.750004Z" clip-rule="evenodd"/></svg>
                     </span>
                     <span>
                       {{ block.settings.heading }}
                     </span>
                   </button>
                   <div class="accordion__content overflow-hidden" id="content_{{ forloop.index }}" aria-labelledby="button_{{ forloop.index }}"
                        data-accordion-content>
                     <div class="mt-0.25 mt-md-1 rte">{{ block.settings.content }}</div>
                     {%- if block.settings.content_page != blank -%}
                        <div class="mt-0.25 mt-md-1 rte page-content">{{ block.settings.content_page.content }}</div>
                     {%- endif -%}
                   </div>
                 </div>
               </div>
            {%- when 'related_products' -%}
               {%- if product.metafields.product.related_products != blank -%}
                <div class="product__option-name text-0.875 lh-150">
                  <span>Color </span><span class="transparent-0.4">{{ product.title }}</span>
                </div>
                <div class="product__related mb-1">
                  {%- for item in product.metafields.product.related_products.value -%}
                    {%- assign swatch_image = item.metafields.product.swatch_image -%}
                    {%- assign swatch_color = item.metafields.product.swatch_color -%}
                    <a href="{{ item.url }}" class="{% unless forloop.last %} mr-0.75{% endunless %} mb-1{% if item.url == product.url %} active-product{% endif %}">
                      <span aria-hidden="true" class="option-color a d-block rounded-circle border-hover transition-default position-relative overflow-hidden active-state" style="{% if swatch_image != blank %} background-image: url({{ swatch_image | image_url: width: 25, height: 25 }} {% else %} background-color: {{ swatch_color }}{% endif %}"></span>
                    </a>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            {%- when 'variant_picker' -%}
              {%- unless product.has_only_default_variant -%}
                <variant-radios
                  class="no-js-hidden mb-2 mt-md-0"
                  data-section="{{ section.id }}"
                  data-url="{{ product.url }}"
                  {{ block.shopify_attributes }}
                >
                  {%- for option in product.options_with_values -%}
                      <fieldset class="js border-none pt-0 pr-0 pb-0 pl-0 mt-0 mr-0 mb-0 ml-0{% unless forloop.last %} mb-2{% endunless %}">
                        <div class="product__option-name text-0.875 lh-150">
                          <span>{{ option.name }} </span><span class="transparent-0.4">{%- for value in option.values -%}{% if option.selected_value == value %}{{ value | escape }}{% endif %}{%- endfor -%}</span>
                        </div>
                        <div class="d-flex flex-wrap mb-n1">
                          {%- for value in option.values -%}
                            <input
                              type="radio"
                              id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                              name="{{ option.name }}"
                              value="{{ value | escape }}"
                              form="{{ product_form_id }}"
                              class="visually-hidden option-select-listener"
                              {% if option.selected_value == value %}
                              checked
                              {% endif %}>
                            {% if option.name == 'Color' %}
                              {% liquid
                                assign colors = product.metafields.option.colors.value
                                assign current_color = colors[forloop.index0]
                              %}

                              {% if colors != blank %}
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="option-color d-block {% unless forloop.last %} mr-0.75{% endunless %} mb-1 rounded-circle border transition-default position-relative overflow-hidden active-state" style="background-color: {{ current_color }};"></label>
                              {% else %}
                                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="btn btn--sm btn--outline{% unless forloop.last %} mr-1{% endunless %} mb-1 font-regular text-0.875 lh-150">
                                  {{ value }}
                                </label>
                              {% endif %}
                            {% else %}
                              {% liquid
                                assign value_name = value
                                if option.name == 'Size'
                                  assign value_name = value | slice: 0
                                endif
                              %}
                              <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                    class="btn--underline{% unless forloop.last %} mr-2{% endunless %} mb-1 font-regular text-0.875 lh-150">
                                {{ value_name }}
                              </label>
                            {% endif %}
                          {%- endfor -%}
                        </div>
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                </variant-radios>
              {% endunless %}
            {%- when 'buy_buttons' -%}
              <div class="mb-md-2" {{ block.shopify_attributes }}>
                <product-form class="{% if product.selected_or_first_available_variant.available %}product__form {% endif %}d-block z-stack">
                  {%- form 'product', product, id: product_form_id, class: 'form product__form z-stack', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ product.selected_or_first_available_variant.id }}"
                      disabled
                    >
                    <div>
                      <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center mt-1 mt-md-0">
                        <button
                          type="submit"
                          name="add"
                          class="btn btn--primary product__form__submit font-regular text-uppercase text-0.875 lh-130 w-100{% unless product.selected_or_first_available_variant.available %} d-none{% endunless %}"
                          {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                          {% endif %}
                        >
                          <span class="btn-name">
                            {%- if product.selected_or_first_available_variant.available -%}
                              <span>{{ product.selected_or_first_available_variant.price | money }}</span> - {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                          <span class="btn-adding-name">Adding</span>
                        </button>

                        <div class="{%- if product.selected_or_first_available_variant.available -%}d-none{% endif %} w-100" data-notification>
                          <button class="btn btn--primary font-regular text-uppercase text-0.875 lh-150 w-100" 
                              type="button" 
                              data-notification-trigger
                            >
                            NOTIFY WHEN AVAILABLE
                          </button>

                          <div class="footer position-relative d-none mt-0" data-notification-wrapper>
                            <label class="visually-hidden" for="BackInStock--{{ section.id }}">
                              Back in Stock subscribe
                            </label>
                            <input
                              id="BackInStock--{{ section.id }}"
                              type="email"
                              class="form__input border w-100"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              placeholder="Enter your Email"
                              data-notification-input
                            >
                            <button type="button" 
                              class="form__submit btn--circle btn--outline btn--outline--dark border-2 position-absolute" 
                              id="SubscribeBackInStock" 
                              aria-label="SubscribeBackInStock"
                              data-notification-submit
                            >
                              {% render 'icon' with 'arrow-right' %}
                            </button>
                          </div>
                          <div class="rte text-dark d-none" data-notification-status>
                            <p>Your notification has been registered.</p>
                          </div>
                        </div>
                      </div>
                      {%- if block.settings.show_dynamic_checkout -%}
                        <div class="mt-0.5">
                          {{ form | payment_button }}
                        </div>
                      {%- endif -%}
                    </div>
                  {%- endform -%}
                </product-form>
              </div>
            {%- when 'launch_ar_button' -%}
              <button class="{% unless forloop.last %}mb-2 {% endunless %}btn btn--outline d-md-none btn--launch light font-regular text-uppercase text-0.875 lh-130 w-100">
                <span>Launch AR</span>
                <img
                  class="fit-contain ml-0.5"
                  src="{{ 'ar-icon.png' | asset_img_url: '120x' }}"
                  sizes="(min-width: 768px) 54px 1x 108px 2x, 30px 1x 60px 2x"
                  loading="lazy"
                  width="25"
                  height="25"
                  alt="AR Icon">
              </button>
              <div class="product__launch-popup d-md-none">
                <button class="popup-close">{% render 'icon-close-popup' %}</button>
                {%- if block.settings.launch_popup_title != blank -%}
                <h5 class="mb-1.5 text-dark font-bold lh-130">{{ block.settings.launch_popup_title }}</h5>
                {%- endif -%}
                <div class="popup-text text-0.875 lh-150">
                  {{ block.settings.launch_popup_text }}
                </div>
                <button class="btn btn--primary go-to-launch mt-auto btn--launch font-regular text-uppercase text-0.875 lh-130 w-100">
                  <span>Launch AR</span>
                  <img
                    class="fit-contain ml-0.5"
                    src="{{ 'ar-icon-light.png' | asset_img_url: '120x' }}"
                    sizes="(min-width: 768px) 54px 1x 108px 2x, 30px 1x 60px 2x"
                    loading="lazy"
                    width="25"
                    height="25"
                    alt="AR Icon">
                </button>
              </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>


  {%- if first_3d_model -%}
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
  {%- endif -%}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'flickity.pkgd.min.js' | asset_url }}"></script>
  <script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>

  <script>
    (() => {
      // Check if first slide item is ModelVier
      let firstSlide = document.querySelector(`[data-product-media-slide="0"]`);
      if (firstSlide === null) 
        return;
      
      let modelViewer = firstSlide.querySelector('model-viewer');

      var slider = new Flickity('[data-product-media]', {
        cellAlign: "left",
        contain: true,
        pageDots: false,
        prevNextButtons: false,
        adaptiveHeight: true,
        wrapAround: true,
        fade: true,
        draggable: modelViewer === null,
        watchCSS: true,
        on: {
          change: (index) => {

            if (!modelViewer) return;

            let modelViewer = document.querySelector(`[data-product-media-slide="${index}"]`).querySelector('model-viewer');
            slider.isDraggable = modelViewer === null;
          }
        }
      });
    })();
  </script>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return(msie > 0 || trident > 0);
      }

      if (! isIE()) 
        return;
      
      const hiddenInput = document.querySelector('# {{ product_form_id }}input[name="id"]');
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher = document.querySelector('variant-radios[data-section=" {{ section.id }}"]') || document.querySelector('variant-selects[data-section=" {{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper- {{ section.id }}').textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants- {{ section.id }}').addEventListener('change', function(event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
  </script>

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},{% if seo_media -%}
        "image" : [{{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}],{%- endif %}
      "description": {{ product.description | strip_html | json }},{% if product.selected_or_first_available_variant.sku != blank -%}
        "sku" : {{ product.selected_or_first_available_variant.sku | json }},{%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [{%- for variant in product.variants -%}
          {
            "@type": "Offer",
            {%- if variant.sku != blank -%}
              "sku" : {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12" : {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13" : {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14" : {{ variant.barcode }},
            {%- endif -%}
            "availability": "http://schema.org/ {% if variant.available %}InStock
            {% else %}
              OutOfStock{% endif %}",
            "price": {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency": {{ cart.currency.iso_code | json }},
            "url": {{ request.origin | append: variant.url | json }}
          }
          {% unless forloop.last %},{% endunless %}{%- endfor -%}]
    }
  </script>
</section>

<script>
  (() => {
    document.addEventListener('DOMContentLoaded', () => {
      const modelViewer = document.querySelector('model-viewer');

      if (!modelViewer) return;

      modelViewer.addEventListener('load', () => {
        // Support AR?
        if (!modelViewer.canActivateAR) {
          document.documentElement.classList.add('device-no-ar');
        }
      });
  
      const variantInput = document.querySelectorAll('.option-select-listener');
      variantInput.forEach(input => {
        input.addEventListener('click', () => {
          let optionValue = input.getAttribute('value'),
          optionLabel = input.closest('fieldset').firstElementChild.lastElementChild;
          optionLabel.textContent = optionValue;
        });
      });
    
      const launchBtn = document.querySelectorAll('.btn--launch'),
      launchBtnClose = document.querySelectorAll('.popup-close'),
      launchPopup = document.querySelector('.product__launch-popup');
      launchBtn.forEach(btn => {
        btn.addEventListener('click', () =>{
          launchPopup.classList.add('popup-visible');
        });
      });
      launchBtnClose.forEach(btnClose => {
        btnClose.addEventListener('click', () =>{
          launchPopup.classList.remove('popup-visible');
        });
      });
    
    
      const goLaunchBtn = document.querySelector('.go-to-launch');
    
      goLaunchBtn.addEventListener('click', () => {
        launchPopup.classList.remove('popup-visible');
        modelViewer.activateAR();
      });
    })
  })();
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1
    },
    {
      "type": "related_products",
      "name": "Related products",
      "limit": 1
    },
    {
      "type": "launch_ar_button",
      "name": "Launch AR button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "launch_popup_title",
          "label": "Launch popup heading",
          "default": "AR Visualiser"
        },
        {
          "type": "richtext",
          "id": "launch_popup_text",
          "label": "Launch popup text"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Media Settings"
    },
    {
      "type": "radio",
      "id": "media_desktop_view",
      "label": "Media desktop view",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "list",
          "label": "List"
        }
      ],
      "default": "slider"
    },
    {
      "type": "radio",
      "id": "media_desktop_size",
      "label": "Media desktop size",
      "options": [
        {
          "value": "usual",
          "label": "Usual"
        },
        {
          "value": "larger",
          "label": "Larger"
        }
      ],
      "default": "larger"
    },
    {
      "type": "header",
      "content": "Notification"
    },
    {
      "type": "text",
      "id": "notification_heading",
      "label": "Heading",
      "default": "Lorem ipsum"
    },
    {
      "type": "richtext",
      "id": "notification_content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "notification_btn",
      "label": "Button label",
      "default": "Notify when available"
    }
  ]
}
{% endschema %}
