<div class="main-password-section">
  <div class="container">
    <div class="row d-flex align-items-center flex-column">
      <div class="col-lg-6 position-relative">
        <a data-aos="slide-up" class="d-block" href="{{ routes.root_url }}">{{ section.settings.logo }}</a>
      </div>
      {% for block in section.blocks %}
        {% style %}
          @media (min-width: 992px) {
          [data-block-id="{{ block.id }}"] {
          max-width: {{ block.settings.content_max_width }}px;
          }
          }
        {% endstyle %}
        <div class="col-lg-6{% if block.settings.hide_on_mobile %} d-none d-lg-block{% endif %}" {{ block.attributes }}>
          <div class="d-flex flex-column align-items-start border pt-1 pb-1 pl-1 pr-1 h-100">
            <div class="w-100 d-flex justify-content-between pb-2">
              <h3 class="mb-0 text-primary text-0.875 lh-150">{{ block.settings.heading }}</h3>
              <h3 class="mb-0 ml-1 text-primary text-0.875 lh-150 transparent-0.4 d-block">{{ block.settings.heading-right }}</h3>
            </div>
            {%- case block.type -%}
            {%- when 'newsletter' -%}
              <div class="mt-auto w-100">
                {% form 'customer' %}
                  {%- if form.posted_successfully? -%}
                    <div class="w-100 d-flex pt-2 mb-0.5 justify-content-between align-items-center">
                      <h3 class="text-0.875 mb-0" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</h3>
                      {% render 'social-list', spacing: 'ml-1' %}
                    </div>
                  {% else %}
                    <div class="rte mb-0.25 transparent-0.4" data-block-id="{{ block.id }}">
                      {{ block.settings.content }}
                    </div>
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="newsletter-form__field-wrapper">
                      <div class="position-relative">
                        <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">
                          {{ 'newsletter.label' | t }}
                        </label>
                        <input
                                id="NewsletterForm--{{ section.id }}"
                                type="email"
                                name="contact[email]"
                                class="form__input border w-100 text-1.125"
                                value="{{ form.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                {% if form.errors %}
                                  autofocus
                                  aria-invalid="true"
                                  aria-describedby="Newsletter-error--{{ section.id }}"
                                  {% elsif form.posted_successfully? %}
                                  aria-describedby="Newsletter-success--{{ section.id }}"
                                {% endif %}
                                placeholder="{{ block.settings.placeholder }}"
                                required
                        >
                        <button type="submit" class="form__submit btn--circle btn--outline btn--outline--dark border-2 position-absolute" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                          {% render 'icon' with 'arrow-right' %}
                        </button>
                      </div>
                      {%- if form.errors -%}
                        <p class="text-0.875 mb-0" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</p>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {% endform %}
              </div>
            {%- endcase -%}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Main Password Section",
  "settings": [
  {
    "type": "text",
    "id": "logo",
    "label": "Vector image SVG code"
  }
  ],
  "blocks": [
  {
  "type": "newsletter",
  "name": "Newsletter",
  "limit": 1,
  "settings": [
  {
  "type": "text",
  "id": "heading",
  "label": "Heading",
  "default": "Keep In Touch"
  },
  {
  "type": "text",
  "id": "heading-right",
  "label": "Text to the right of Heading",
  "default": "Gessen 2022"
  },
  {
  "type": "richtext",
  "id": "content",
  "label": "Content",
  "default": "<p>Sign up to our newsletter lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
  },
  {
  "type": "range",
  "id": "content_max_width",
  "min": 300,
  "step": 10,
  "max": 900,
  "unit": "px",
  "default": 450,
  "label": "Max width on desktop"
  },
  {
  "type": "text",
  "id": "placeholder",
  "label": "Placeholder",
  "default": "Enter your Email"
  }
  ]
  }
  ],
  "presets": [
  {
    "name": "Main Password Section",
    "category": "New"
  }
  ]
  }
{% endschema %}